$shrekcolor: lightgreen;
$shrekjacket: brown;
//GLOBAL
%marginytext {
    margin: auto;
    text-align: center;
}

#navme {
    background-color: $shrekcolor;
    position: fixed;
    top: 0px;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.fixeddist {
    margin-top: 62px;
}

a {
    font-size: 20px;
    color: $shrekjacket;
    text-decoration: none;
}

.contenido {
    h1 {
        font-size: 32px;
    }
    p {
        font-size: 20px;
    }
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bgc-grey {
    background-color: lightgrey;
}

.borblack {
    border: 1px solid black;
}

.borshrek {
    border: 3px solid $shrekcolor;
}

ul li:hover {
    background-color: lightcoral;
}

footer {
    background-color: $shrekcolor;
}

footer {
    display: flex;
    align-items: down;
}

.piedor {
    text-align: right;
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: auto;
}

.aligncenter {
    text-align: center;
}

.margincenter {
    margin: auto;
}

#smallf {
    font-size: 10px;
}

.importanth1 {
    font-size: 48px;
    color: $shrekjacket;
}

main {
    min-height: calc(100vh - 62px - 138px);
}

//END GLOBALS//
//HOME PAGE//
#pricetable {
    margin-bottom: 0;
}

.shrek {
    margin-bottom: 20px;
}

//Iconos aboutus
.aboutus {
    display: flex;
}

@media (max-width: 768px) {
    .aboutus {
        display: inline;
    }
}

.aboutus-data {
    flex-basis: 20%;
    @extend %marginytext
}

ul {
    display: flex;
    flex-direction: column;
}

ul>li {
    @extend %marginytext
}